<h1 id="main_title">KnowIt</h1>

<div id="div_menu">
    <a href="/">Accueil</a>
    <a href="/quiz">Quiz</a>
    <a href="/login">Se connecter</a>
    <a href="/register">S'inscrire</a>
</div>

