<h1 id="main_title"> L1 Techno du web </h1>

<div id="div_menu">
    <a href="/">Aller à l'acceuil</a>
    <a href="/about">Aller à la page About</a>
    <button id="btn_page_installation">Installation</button>
    <button id="btn_activation_structure_page">Structure de la page</button>
</div>

