<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>{{title}}</title> <!--Le paramètre title rentré en entré-->
</head>
<body>
    <header>{{>header}}</header>
    <main>{{{body}}}</main> <!--Tout contenu passé en paramètres est remplacé par body-->
    <footer>{{> footer}}</footer> <!--Sait automatiquement avec > que le fichier footer se trouve dans le dossier "partias"-->
</body>
</html>