<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>{{title}}</title> <!--Le paramètre title rentré en entré-->
</head>
<body>
    <header id="Header">{{>header}}</header> <!--{{> header}} sera remplacé par le contenu de header.handlebars. ">" signifie que le fichier se trouve dans le dossier partials (c'est une convention de handlebars-->
    <main id="Main">{{{body}}}</main> <!--Tout contenu passé en paramètres est remplacé par body-->
    <footer id="Footer" class="">{{> footer}}</footer> <!--Sait automatiquement avec > que le fichier footer se trouve dans le dossier "partias"-->
</body>
<script src="/javascripts/main.js"></script> 
</html>