<h1>Base de données : MySQL</h1>

<a href="https://www.w3schools.com/nodejs/nodejs_mysql.asp">Documentation du module mysql de node.js </a>

<form>
    Prénom : <input type="text" name="prénom">
    Nom : <input type="text" name="nom">
    Age : <input type="number" name="age">
    <button type="submit">Envoyer</button>
</form>

<span id="reload_span"><button type="button" id="reload">Recharger</button></span>

<div id="tableau_bdd"></div>