
    <h1 class="section">Initialisation</h1>
    <div>
       1. Création de la structure de fichier avec Express : npx express-generator

    <table>
  <caption>
    Structure de fichiers créé par Express
  </caption>
  <thead>
    <tr>
      <th scope="col">Fichier</th>
      <th scope="col">Fonctionnalités</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Public</th>
      <td>Fichier rassemblant les données front-end du site (excpeté les fichier html)</td>
      <td>22</td>
    </tr>
    <tr>
      <th scope="row">routes</th>
      <td></td>
      <td>45</td>
    </tr>
    <tr>
      <th scope="row">Views</th>
      <td>Fichier rassemblant les pages (vues) du site. C'est à dire les fichiers html (.handlebars). 
      </td>
      <td>29</td>
    </tr>
    <tr>
      <th scope="row">app.js</th>
      <td>Back-end du site</td>
      <td>36</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th scope="row" colspan="2">Average age</th>
      <td>33</td>
    </tr>
  </tfoot>
</table>

    </div>

  <div>
    2. Supprimer les fichiers .jade dans le dossier /views puis créer un dossier layouts avec un fichier main.handlebars. <br> <!--br : saut de ligne-->
    Créer un second dossier partials avec deux fichiers : footer.handlebars et header.handlebars. <br>
    Finalement créer un fichier home.handlebars dans le dossier views de base. C'est au sein de ce dossier que se trouveront toutes les pages que vous souhaiterez créer. <br>

  <table>
  <caption>
    Structure du dossier Views
  </caption>
  <thead>
    <tr>
      <th scope="col">Dossier/Fichiers</th>
      <th scope="col">Sous-dossier/Sous-fichiers</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">/Layouts</th>
      <td></td>
      <td>Dossier acceuillant le fichier main.handlebars</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>main.handlbars</td>
      <td>Fichier décrivant la structure de base des pages html du site</td>
    </tr>
    <tr>
      <th scope="row">/Partials</th>
      <td>Dossier acceuillant les fichiers de pages partiels</td>
      <td>29</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>footer.handlebars</td>
      <td>Fichier HTML décrivant le footer de chaque page du site</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Header.handlebars</td>
      <td>Fichier HTML décrivant le header de chaque page du site</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
  </table>
  </div>

  3. Lancer le serveur local : dans la console situé dans votre dossier principale, écrire : node app.js <br>
  Le serveur est maintenant lancé <br>
  Pour visualiser la page aller dans votre navigateur internet et entrez dans votre barre d'adresse : localhost:3000 <br>
  Pour sortir de l'éxecution, appuyez sur les touches Ctrl+c. 

  <h2>Quels sont les modules utilisés ?</h2>
  <ul> <!--Utilisez <ul> pour créer une liste non-ordonnée et <ol> pour une liste ordonnée-->
    <li>Express</li>
    <li>Express-handlebars</li>
  </ul>

  <h2>Docs HTML, CSS, JS, Node.JS</h2>
