Les installations de module Node.js se font avec npm. <br>
Tapez : npm install mysql dans un terminal installera le module mysql à votre projet Node.js

Avant d'utiliser mysql dans Node.js il faut installer MySQL à l'adresse suivante : <a href="https://dev.mysql.com/downloads/installer/">https://dev.mysql.com/downloads/installer/</a>