<h1>Se connecter</h1>

<form method="post">
      <label for="name">Pseudo&nbsp;:</label>
      <input type="text" id="name" name="user_name" />

      <label for="password">Mot de passe&nbsp;:</label>
      <input type="password" id="password" name="user_password" />

      <input type="submit" value="Se connecter" />

      <a>Vous n'avez pas de compte ? <a href="/register" id="btn-register">Inscrivez-vous !</a></a>
</form>