<h1>Créer votre compte</h1>

<form method="post">
      <label for="name">Pseudo&nbsp;:</label>
      <input type="text" id="name" name="user_name" />

      <label for="password">Mot de passe&nbsp;:</label>
      <input type="password" id="password" name="user_password" />

      <label for="confirm_password">Confirmer le mot de passe&nbsp;:</label>
      <input type="password" id="confirm_password" name="user_confirm_password" />

      <label for="mail">E-mail&nbsp;:</label>
      <input type="email" id="mail" name="user_mail" />

      <input type="submit" value="S'inscrire" />

      <a>Vous avez déjà un compte ? <a href="/login" id="btn-login">Connectez-vous !</a></a>
</form>